name: ukparl_twfy
description: 'UK Members of Parliament Register of Financial Interests via TheyWorkForYou'

pipeline:

  init:
    method: seed
    params:
      url: https://www.theyworkforyou.com/pwdata/scrapedxml/regmem/
    handle:
      pass: fetch

  fetch:
    method: fetch
    params:
      rules:
        and:
          - pattern: '.*/scrapedxml/regmem/*'
    handle:
      pass: parse

  parse:
    method: parse
    params:
      store:
        mime_type: application/xml
    handle:
      fetch: fetch
      store: xml

  xml:
    method: scrapers.ukparl:parse_twfy_xml
    params:
      table: ukparl_twfy
